// 下拉框 展示两部分内容
.select-left {
  float: left;
  font-size: 18px;
}

.select-right {
  float: right;
  color: #8492a6;
  font-size: 18px;
}

.el-table .el-table__empty-text {
  width: auto;
}

// 登录页面
.login {
  // 下拉框 placeholder 字体大小
  .el-input--medium .el-input__inner {
    height: 50px;
    font-size: 18px;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      font-size: 18px;
    }
  }
}

// 登录页面下拉框字体大小
.login-select-popper {
  .el-select-dropdown__item {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    @include puhui-r;
  }

  .select-right {
    font-size: 16px;
    @include puhui-r;
  }

  .el-select-dropdown__empty {
    font-size: 18px;
    @include puhui-r;
  }
}

.config-popover.el-popover {
  width: 210px;
}

.el-table::before {
  height: 0 !important;
}

.clinical-diagnose {
  .el-table {
    position: absolute;
  }
}

// 菜单激活
.el-menu-item.is-active {
  background-color: rgba(84, 136, 241, 0.2);
  color: #2343B6;
}

.el-message-box {
  .el-message-box__header {
    font-size: 24px;
  }
  .el-message-box__content {
    font-size: 20px;
  }
}

// 单选框垂直对其
.el-radio__inner {
  vertical-align: super;
}

.el-notification__group {
  width: 100%;
}

// table 取消行高
.el-table .cell {
  line-height: normal !important;
}

.el-popover {
  @include tooptip-color;
  border: 0 !important;
}

.popper__arrow::after {
  @include arrow-color;
}

.config-style {
  .el-divider {
    @include bed-no-unfocus;
  }
  .el-divider__text {
    @include bed-no-unfocus;
  }
  .el-radio {
    @include home-title-s-font-color;
  }
}

.operation-box {
  .el-timeline-item__content {
    @include el-menu-font-color;
  }
  .el-timeline-item__tail {
    @include time-line-color;
  }
  .el-timeline-item__node--normal {
    @include time-line-node-color;
  }
}
